In [5]:
#Import mathplotLib
import matplotlib.pyplot as plt
#Pandas
import pandas as pd
#Numpy
import numpy as np

#Import Train_test_split
from sklearn.model_selection import GridSearchCV, train_test_split

#Load Data
data = pd.read_csv('diabetic_data_1.csv')
data.head()

,Caucasian,AfricanAmerican,Asian,Hispanic,Other,Unknown,Female,Male,Age_0-10,Age_10-20,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,readmitted_No,readmitted_<30,readmitted_>30
0,1,0,0,0,0,0,1,0,0,1,...,No,No,No,No,Ch,Yes,>30,0,0,1
1,0,1,0,0,0,0,1,0,0,0,...,No,No,No,No,No,Yes,NO,1,0,0
2,1,0,0,0,0,0,0,1,0,0,...,No,No,No,No,Ch,Yes,NO,1,0,0
3,1,0,0,0,0,0,0,1,0,0,...,No,No,No,No,Ch,Yes,NO,1,0,0
4,1,0,0,0,0,0,0,1,0,0,...,No,No,No,No,No,Yes,>30,0,0,1

In [2]:
x = data
y1 = data['readmitted_No']
y2 = data['readmitted_<30']
y3 = data['readmitted_>30']
y4 = data['readmitted']
y1 = pd.DataFrame(y1)
y2 = pd.DataFrame(y2)
y3 = pd.DataFrame(y3)
y4 = pd.DataFrame(y4)

In [22]:
from sklearn.preprocessing import StandardScaler

x = data.drop(['readmitted_No' , 'readmitted_<30', 'readmitted_>30','readmitted'], axis = 1)
x = data[["Caucasian","AfricanAmerican","Asian","Hispanic","Other",
          "Unknown","Female","Male","Age_0-10","Age_10-20","Age_20-30","Age_30-40","Age_40-50","Age_50-60","Age_60-70","Age_70-80","Age_80-90","Age_98","admission_type_id","discharge_disposition_id","admission_source_id","time_in_hospital","num_lab_procedures","num_procedures","num_medications","number_outpatient","number_emergency","number_inpatient","number_diagnoses"]]
autoscaler = StandardScaler()
x = autoscaler.fit_transform(x)
x = pd.DataFrame(x)
x.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,0.580762,-0.482380,-0.079616,-0.142917,-0.12256,-0.151148,0.927452,-0.927397,-0.039807,12.094359,...,-0.514312,0.306482,-0.467653,0.808384,-0.785398,0.243390,-0.291461,-0.21262,-0.503276,0.815784
1,-1.721876,2.073054,-0.079616,-0.142917,-0.12256,-0.151148,0.927452,-0.927397,-0.039807,-0.082683,...,-0.514312,0.306482,-0.802651,-1.631351,2.145781,-0.371804,1.286748,-0.21262,0.288579,-0.735733
2,0.580762,-0.482380,-0.079616,-0.142917,-0.12256,-0.151148,-1.078223,1.078287,-0.039807,-0.082683,...,-0.514312,0.306482,-0.802651,0.045967,-0.199162,-0.002688,-0.291461,-0.21262,-0.503276,-0.218561
3,0.580762,-0.482380,-0.079616,-0.142917,-0.12256,-0.151148,-1.078223,1.078287,-0.039807,-0.082683,...,-0.514312,0.306482,-1.137649,0.401761,-0.785398,-0.986997,-0.291461,-0.21262,-0.503276,-1.252906
4,0.580762,-0.482380,-0.079616,-0.142917,-0.12256,-0.151148,-1.078223,1.078287,-0.039807,-0.082683,...,-0.514312,-0.923814,-0.467653,-0.614795,2.732016,-0.002688,-0.291461,-0.21262,-0.503276,0.815784

In [19]:
#Split dataset into 80% train, 20% test
X_train, X_test, y_train, y_test = train_test_split(x, y1, test_size = 0.2)

In [20]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)

C:\Users\salik\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [21]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.64      0.40      0.49      9293
           1       0.62      0.81      0.70     11061

    accuracy                           0.62     20354
   macro avg       0.63      0.60      0.60     20354
weighted avg       0.63      0.62      0.60     20354